sudo: required
services:
  - docker

before_install:
  - docker build -t paakcmd/react-test -f./client/Dockerfile.dev ./client

script:
  - docker run paakcmd/react-test npm test -- --coverage

after_success:
  - docker build -t andropovbr/multi-client ./client
  - docker build -t andropovbr/multi-nginx ./nginx
  - docker build -t andropovbr/multi-server ./server
  - docker build -t andropovbr/multi-worker ./worker

  # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

  # take those images and push them to docker hub
  - docker push andropovbr/multi-client
  - docker push andropovbr/multi-nginx
  - docker push andropovbr/multi-server
  - docker push andropovbr/multi-worker

deploy:
  provider: elasticbeanstalk
  region: us-east-1
  app: multi-docker
  env: MultiDocker-env
  bucker_name: elasticbeanstalk-us-east-1-487893541748
  bucker_path: docker-multi
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: $AWS_SECRET_KEY
