sudo: required
services:
  - docker

before_install:
  -docker build -t paakcmd/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run paakcmd/react-test npm test -- --coverage

after_success:
  - docker build -t paakcmd/multi-client ./client
  - docker build -t paakcmd/multi-nginx ./nginx
  - docker build -t paakcmd/multi-server ./server
  - docker build -t paakcmd/multi-worker ./worker

  #Login to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Take those images and push them to docker hub
  -docker push paakcmd/multi-client
  -docker push paakcmd/multi-nginx
  -docker push paakcmd/multi-server
  -docker push paakcmd/multi-worker
